{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div>
       
       <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                <h1>Enregistrer vous !</h1>
            </div>
             <div class ="col-3">
            </div>
        </div>

    {{ form_start(registrationForm) }}
         <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.customer.firstName) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
         <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.customer.lastName) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
         <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.customer.pseudo) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
        <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.email) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
        <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
          <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
             <div class ="col-3">
            </div>
        </div>
          <div class="row">
            <div class ="col-3">
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-dark" >Enregistrer</button>   
            </div>      
             <div class ="col-3">
            </div>
        </div>
    </div>
    
       
    {{ form_end(registrationForm) }}


    
{% endblock %}
