{% extends 'base.html.twig' %}

{% block title %}Home !!{% endblock %}

{% block body %}
<div div class="container">
<div class="jumbotron">
  <h1 class="display-4">Home</h1>
  <p class="lead">Uniquely foster out-of-the-box strategic theme areas before virtual niches. Phosfluorescently seize resource-leveling manufactured products after transparent best practices. Compellingly coordinate functional solutions with high-quality.</p>
  <hr class="my-4">
  <p>Interactively syndicate virtual networks with interoperable infomediaries. Interactively embrace high-payoff outsourcing whereas extensive value. Competently drive one-to-one information via cross-media networks. Seamlessly visualize cross-platform e-business vis-a-vis low-risk high-yield vortals. Interactively fashion.</p>
  <a class="btn btn-dark btn-lg" href="{{ path('citizen_publication')}}" role="button">Learn more</a>
</div>
</div>
{% endblock %}
