<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">CiTiZEN2.0</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('citizen_publication') }}">Liste des publications <span class="sr-only">(current)</span></a>
                    </li>
                       
                </ul>
                   <ul class="navbar-nav ml-auto">
                   
                       {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown " style="margin-right: 75px;">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="nav-profile-img rounded-circle" src="{{ asset('images/index.png') }}">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_account') }}">Profile</a>
                                <a class="dropdown-item" href="#">Crée une solution</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    {% endif %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
                    </li>
                    <li><a> <i class="fas fa-user"></i></a> </li>
                   
                </ul>
            </div>
        </nav>
        {% block body %}

        {% endblock %}

    </body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>
